@font-face {
    font-family: 'manrope';
    src: url(./Manrope/Manrope-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'manrope', sans-serif;
}

:root{
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 1rem;
    min-height: 100vh;
    background-color: var(--LightGrayishBlue);
    position: relative;
    padding-bottom: 30px;
}

.card{
    max-width: 28rem;
    background-color: white;
    width: 100%;
    margin: 1rem auto;
    height: auto;
    display: grid;
    box-shadow:0 1rem 2rem 0rem #dbe5ef;
    border-radius: 10px;
    position: relative;
}

.hero-img img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.content{
    padding: 2.125rem 2.125rem 1.3rem 2.125rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--VeryDarkGrayishBlue);
  font-weight: 700;
}

p{
    color: var(--DesaturatedDarkBlue);
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 0.85rem;
}

p.subtitle{
    margin: 1rem 0;
}

.author-section{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

.avatar img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    text-align: center;
    margin-right: .6rem;
}

.author{
   flex: 1;
}

.author h2{
    font-size: 0.85rem;
    font-weight: 700;
    color: var(--VeryDarkGrayishBlue);
    
}

.author p{
    font-weight: 500;
    color: var(--DesaturatedDarkBlue);
}

#shareIcon{
    width: 2.5rem;
    height: 2.5rem;
    background: var(--LightGrayishBlue) url("./images/icon-share.svg") no-repeat center;
    background-size: 1.5rem;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    transition: all 0.5s ease;
}

#icons{
    display: none;
    width: 100%;
    height: 5rem;
    border-radius: 0 0 10px 10px;
    background-color: var(--VeryDarkGrayishBlue);
    z-index: 2;
    position: absolute;
    bottom: 0;
}

.shareActive{
    bottom: 1rem;
}

.displayBlock{
    display: block !important;
}

#icons .holder {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 1.2rem 1.5rem;
}

#icons img {
  width: 1rem;
  height: 1rem;
}

#icons p {
  font-size: 0.9rem;
  letter-spacing: 0.25rem;
  font-weight: 500;
}

@media screen and (min-width: 48rem) {
    body{
        padding: 0 1rem;
    }

    .card{
        max-width: 45.625rem;
        grid-template-columns: 1fr 1.55fr;
    }

    .content{
        padding: 2.2rem 2.5rem 1.5rem 2.5rem;
    }

    .hero-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius:0.6rem 0 0 0.6rem;
    }

    .hero-img{
        height: 100%;
    }

    h1 {
        font-size: 1.26rem;
        line-height: 1.7rem;
    }

   .author-section {
        justify-content: flex-start;
        gap: 1rem;
    }

  #shareIcon {
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
  }

    .shareActive{
        bottom: 2.1rem;
    }

    #icons{
        width: 15.5rem;
        height: 3.438rem;
        bottom: 5.313rem;
        right: -4.25rem;
        border-radius: 8px;
        display: none;
    }

    #icons .holder {
        padding: 1rem 2.125rem;
    }

    .arrow {
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 13px solid var(--color1);
        position:absolute;
        bottom:-12px;
        left:7rem;
    }
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--VeryDarkGrayishBlue);
    font-weight: 700;
}

.attribution{ 
    font-size: 18px; 
    text-align: center; 
}

.attribution a{ 
    color: hsl(138, 94%, 12%); 
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.attribution a:hover{
    text-shadow: -2px -5px 6px hsl(137, 72%, 65%); 
    filter: brightness(200%);

}
  